@import 'css/bootstrap.css';

@font-face {
    font-family: 'CircularStd-Book'; /*a name to be used later*/
    src: url('css/fonts/circular_std_font/CircularStd-Book.otf'); /*URL to font*/
}

@font-face {
    font-family: 'CircularStd-Bold'; /*a name to be used later*/
    src: url('css/fonts/circular_std_font/CircularStd-Bold.otf'); /*URL to font*/
}

html, body {
    font-family: 'CircularStd-Book', sans-serif;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom : 0;
    margin-top: 0;
}

.bold {
    font-family: 'CircularStd-Bold';
}

.h1 {
    font-size: 60px;
    line-height: 70px;
}
.h2 {
    font-size: 40px;
    line-height: 60px;
}

.text {
    font-size: 18px;
    line-height: 28px;
}
.information {
    font-size: 14px;
    line-height: 24px;
}
.text-footer {
    font-size: 12px;
    line-height: 22px;
}

.default-gradient {
    background-image: linear-gradient(to left top, #729E71, #527551);
}

.list-unstyled {
    margin-bottom: 0;
}

.unstyled-link,
.unstyled-link:hover,
.unstyled-link:focus,
.unstyled-link:visited {
    text-decoration: none;
    color: #222;
}

.tiny-spacing {
    margin-bottom: 8px;
}

.light-grey {
    color: #909090;
}

.bg-light-grey {
    background: #fafafa;
}
.bg-white {
    background: #fff;
}
#loader-wrapper {
    /*background: linear-gradient(to left top, #729E71, #527551);*/
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: linear-gradient(to left top, #729E71, #527551);
    text-align: center;
    padding-top: 18%;
}

.loaded .loader-section {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s 1.6s ease-out;
    transition: all 0.8s 1.6s ease-out;
}

.loader-text p {
    color: #fff;
}

.site-content {
    position: relative;
    z-index: 5;
    overflow: hidden;
    
}

.navbar {
    margin-bottom: -90px;
}

.overgang_nav .navbar-nav a {
    margin-left: 43px;
}

.drop_menu_container a,
.overgang_nav .navbar-nav a {
    font-size: 14px;
}

.overgang_nav.bottom-menu a {
    font-size: 12px;
}

.overgang_nav a,
.drop_menu_container a,
.underline-link {
    color: #232323;
}
.underline-link:hover,
.drop_menu_container a:hover,
.overgang_nav .navbar-nav a:hover {
    text-decoration: none;
}

.underline-link,
.overgang_nav .navbar-nav a:hover,
.drop_menu_container a:hover,
.drop_menu_container .current_page_item a,
.overgang_nav .navbar-nav .current_page_item a {
    border-bottom: #232323 1px solid;
}

.navbar {
    z-index: 10;
}

.drop_menu_container {
    position: absolute;
    right: 1rem;
    padding: 10px;
}

.drop_menu {
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.hero-holder {
}

.hero-caption {
    padding-top: 300px;
}

.intro__cover {
    width: 586px;
    height: auto;
}

.intro__cover img,
.about__cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.site-wrapper {
    padding-right: 70px;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
}

#secondary {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 100vh;
    background: #fff;
}

#secondary.locked {
    position: absolute;
    top: initial;
    bottom : 0;
}

.sidebar-container {
    position:relative;
    height: 100%;
    overflow: hidden;
}

.moving-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 100%;
}

#progressBar {
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 3px;
}

#secondary ul {
    height:70px;
    width:100vh;
    position: relative;
    left : 70px;
    transform: rotate(90deg);
    transform-origin: left top 0;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#secondary ul li {
    /*height: 33%;*/
    margin: 0;
    line-height: 70px;
}

#secondary ul a {
    text-decoration: none;
    color : inherit;
}


.vertical-container {
    position: relative;
}

.vertical-text {
    /*transform: rotate(90deg);
    margin-left: 49px;
    width: 300px;
    transform-origin: left top 0;*/
}

.chapter-sidebar {
    display:none;
}

#introduction {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom : 140px;
}

.sub_header {
    padding-top: 96px;  
}


.excerpt {
    padding-bottom: 200px;
}

.sub_header h1 {
    padding-top: 24px;
}

#post_body h1 {
    height: 0;
    width: 0;
    overflow: hidden;
    margin: 0;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container > blockquote {
    margin: 200px 0;
}

#post_body blockquote p,
#post_body blockquote div {
    font-size: 40px;
    font-family: CircularStd-Bold, sans-serif;
}

#post_body blockquote div:before,
#post_body blockquote p:before {
    content: "\00AB";
}

#post_body blockquote div:after,
#post_body blockquote p:after {
    content: "\00BB";
}

.size-full {
    max-width: 100%;
    height: auto;
}

.about_page .alignright,
#post_body .align-items-center .alignright {
    float: right;
}

#post_body .align-items-center .alignleft {
    float: left;
}

.align-items-center .wrapper > .alignright {
    float: none;
}

.align-items-center .wrapper > .alignleft {
    float: none;
}

.align-items-center .wrapper {
    position: relative;
    height: auto;
}

.align-items-center .wrapper img {
    object-fit: contain;
    width: 50vw;
    position: absolute;
    height: auto;
}

.align-items-center .wrapper_intro img {
    position: static;
}

.align-items-center .wrapper .alignleft {
    right: 0;
}

.align-items-center .wrapper .alignright {
    left: 0;
}

.newsletter_block {
    margin-left: -999px;
    padding-left: 999px;
    margin-right: -999px;
}

.form_container {
    padding: 50px 0;
}

.form_container label {
    font-size: 18px;
    color: #fff;
    margin-right: 150px;
}

.form_container .email {
    font-size: 14px;
    width: 350px;
    max-width: 80%;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    margin-bottom: 16px;
    color: #fff;
    border-radius: 0;
}

.form_container .email:focus {
    outline: none;
}

input[type="email"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
input[type="email"]:-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
input[type="email"]::-moz-placeholder {
    color: #fff;
    opacity: 0.5;
}
input[type="email"]:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}
input[type="email"]::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.form_container .button {
    font-size: 14px;
    color: #000;
    padding: 10px 35px;
    font-family: 'CircularStd-Book', sans-serif;
}

#submit-form {
    background: #fff;
    padding: 12px 35px;
}

.vcard_content {
    padding: 55px;
}

#archives {
    margin: 200px 0;
}

#archives a,
#archives a,
#archives a {
    color: #000;
    font-size: 40px;
    text-decoration: underline;
}

.footer__logo {
    padding: 20px 0
}

.site-footer ul {
    padding : 0;
    list-style-type: none;
}

.site-footer li {
    list-style-type: none;
}

.signature {
    margin-bottom: 60px;
    padding-top: 50px;
}

.copyright {
    line-height: 28px;
    font-size: 12px;
    color: #a2a2a2;
    padding: 16px 0;
}

.root {
    min-height: 100vh;
    position: relative;
    z-index: 10;
    margin-bottom: 100vh;
    background: #fff;
    
}

.newsletter {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 150px 0 200px;
    color: #fff;
    z-index: 0;
    position:fixed;
    top : 0;
    left: 0;
}

.newsletter .logo {
    width : 320px;
    height: auto;
    max-width: 80%;
}

.newsletter p {
    color : white;
    text-align: center;
}

.newsletter #mc_embed_signup {
    width: 500px;
    max-width: 80vw;
}

.newsletter form {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.newsletter input {
    height : 40px;
    display: inline-block;
}

.newsletter input:focus {
    outline : none;
}

.newsletter input[type=email]  {
    width: calc(100% - 130px);
}

.newsletter_block input[type=email], .newsletter input[type=email]  {
    color : white;
    background: transparent;
    border : none;
    border-bottom : 2px solid white;
}

.newsletter_block input[type=submit], .newsletter input[type=submit]  {
    color : black;
    background : white;
    border-radius : 2px;
    border : none;
    width : 120px;
}


.archive_item {
    color: #000;
    display: block;
    padding: 8px 0;
    text-decoration: none;
}

.archive_item:hover,
.archive_item:focus,
.archive_item:visited {
    text-decoration: none !important;
    color: #000;
}

#archives_page .column-right {
    padding-top: 200px;
}

.team__content h2 {
    margin-bottom: 40px;
}

.big-spacing,
.post_content > blockquote,
.site-content section,
.simple_page h2 + p,
.simple_page p + h3 {
    margin-bottom: 200px;
}

.post_content p + h2.tiny-spacing {
    margin-top: 80px;
}

.site-content section.little-spacing,
.little-spacing {
    margin-bottom: 80px;
}

.middle-spacing {
    margin-bottom: 200px;
}

@media (min-width: 768px) {
    .h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .big-spacing,
    .handled-big-spacing,
    .post_content > blockquote,
    .site-content section,
    .simple_page h2 + p,
    .simple_page p + h3 {
        margin-bottom: 200px;
    }

    .site-content section.little-spacing,
    .little-spacing {
        margin-bottom: 80px;
    }
    

    .middle-spacing {
        margin-bottom: 140px;
    }

}

@media (max-width: 767px) {
    .h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .h2 {
        font-size: 30px;
        line-height: 40px;
    }


    .big-spacing,
    .handled-big-spacing,
    .post_content > blockquote,
    .site-content section,
    .simple_page h2 + p,
    .simple_page p + h3 {
        margin-bottom: 120px;
    }

    .site-content section.little-spacing,
    .little-spacing {
        margin-bottom: 40px;
    }

    .middle-spacing {
        margin-bottom: 60px;
    }

    .newsletter_block {
        display: none;
    }

}
@media (max-width: 992px) {
    .hero-holder {
        margin-top: 120px;
    }
}