@import 'css/bootstrap.css';

@font-face {
    font-family: 'CircularStd-Book'; /*a name to be used later*/
    src: url('css/fonts/circular_std_font/CircularStd-Book.otf'); /*URL to font*/
}

@font-face {
    font-family: 'CircularStd-Bold'; /*a name to be used later*/
    src: url('css/fonts/circular_std_font/CircularStd-Bold.otf'); /*URL to font*/
}

html, body {
    font-family: 'CircularStd-Book', sans-serif;
}

.bold {
    font-family: 'CircularStd-Bold';
}

.navbar {
    margin-bottom: -90px;
}

.overgang_nav .navbar-nav a {
    margin-left: 43px;
    font-size: 14px;
}

.overgang_nav.bottom-menu a {
    font-size: 12px;
}

.overgang_nav a,
.underline-link {
    color: #232323;
}
.underline-link:hover,
.overgang_nav .navbar-nav a:hover {
    text-decoration: none;
}

.underline-link,
.overgang_nav .navbar-nav a:hover,
.overgang_nav .navbar-nav .current_page_item a {
    border-bottom: #232323 1px solid;
}

.hero-holder {
}

.hero-caption {
    padding-top: 300px;
}

.intro__cover {
    width: 586px;
    height: auto;
}

.intro__cover img,
.about__cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.site-wrapper {
    padding-right: 70px;
}

#secondary {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background: #fff;
}

#secondary ul li {
    height: 400px;
    margin: 100px 0;
}

.vertical-container {
    position: relative;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    width: 300px;
    margin-left: 49px;
}

#introduction {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.sub_header {
    padding-top: 96px;
}

.excerpt {
    margin-top: 200px;
    padding-bottom: 100px;
}

.site-content section {
    margin-bottom: 100px;
}

.sub_header h1 {
    padding-top: 100px;
}

#summary {
    margin-bottom: 200px;
}

#post_body h1 {
    display: none;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container > blockquote {
    margin: 200px 0;
}

#post_body blockquote p {
    font-size: 40px;
    font-family: CircularStd-Bold, sans-serif;
}

#post_body blockquote p:before {
    content: "\00AB";
}

#post_body blockquote p:after {
    content: "\00BB";
}

.size-full {
    max-width: 100%;
    height: auto;
}

.about_page .alignright,
#post_body .align-items-center .alignright {
    float: right;
}

#post_body .align-items-center .alignleft {
    float: left;
}

#post_body .align-items-center .wrapper > .alignright {
    float: none;
}

#post_body .align-items-center .wrapper > .alignleft {
    float: none;
}

#post_body .align-items-center .wrapper {
    position: relative;
    height: auto;
}

#post_body .align-items-center .wrapper img {
    object-fit: contain;
    width: 50vw;
    position: absolute;
    height: auto;
}

#post_body .align-items-center .wrapper .alignleft {
    right: 0;
}

#post_body .align-items-center .wrapper .alignright {
    left: 0;
}

.vcard_content {
    padding: 55px;
}

#archives {
    margin: 200px 0;
}

#archives a,
#archives a,
#archives a {
    color: #000;
    font-size: 40px;
    text-decoration: underline;
}

.footer__logo {
    padding: 20px 0
}

.signature {
    margin-bottom: 40px;
}

.copyright {
    line-height: 28px;
    font-size: 12px;
    color: #a2a2a2;
    padding: 16px 0;
}

.newsletter {
    background: #527551;
    padding: 150px 0 200px;
    color: #fff;
}

.pad0 {
    padding: 0;
}

.marg0 {
    margin: 0;
}

.archive__media {
    width: 170px;
    margin-right: 86px;
}

.archive_item {
    color: #7f7f7f;
    display: block;
    padding: 8px 0;
}

.archive_item:hover {
    color: #000;
    text-decoration: none;
    background: #c5d2db;
}

.team__content h2 {
    margin-bottom: 40px;
}

.mb100,
.simple_page h2 + p,
.simple_page p + h3 {
    margin-bottom: 100px;
}

.bg-light-grey {
    background: #fafafa;
}