@import 'css/bootstrap.css';

@font-face {
    font-family: 'CircularStd-Book'; /*a name to be used later*/
    src: url('css/fonts/circular_std_font/CircularStd-Book.otf'); /*URL to font*/
}

@font-face {
    font-family: 'CircularStd-Bold'; /*a name to be used later*/
    src: url('css/fonts/circular_std_font/CircularStd-Bold.otf'); /*URL to font*/
}

html, body {
    font-family: 'CircularStd-Book', sans-serif;
}

.bold {
    font-family: 'CircularStd-Bold';
}

* {
    color: #222;
}

.h1 {
    font-size: 60px;
    line-height: 70px;
}
.h2 {
    font-size: 40px;
    line-height: 60px;
}

.text {
    font-size: 18px;
    line-height: 28px;
}
.information {
    font-size: 14px;
    line-height: 24px;
}
.text-footer {
    font-size: 12px;
    line-height: 22px;
}

.default-gradient {
    background-image: linear-gradient(to left top, #729E71, #527551);
}

.unstyled-link,
.unstyled-link:hover,
.unstyled-link:focus,
.unstyled-link:visited {
    text-decoration: none;
    color: #222;
}

.tiny-spacing {
    margin-bottom: 8px;
}

.light-grey {
    color: #909090;
}

.bg-light-grey {
    background: #fafafa;
}
.bg-white {
    background: #fff;
}

.site-content {
    overflow: auto;
}

.navbar {
    margin-bottom: -90px;
}

.overgang_nav .navbar-nav a {
    margin-left: 43px;
    font-size: 14px;
}

.overgang_nav.bottom-menu a {
    font-size: 12px;
}

.overgang_nav a,
.underline-link {
    color: #232323;
}
.underline-link:hover,
.overgang_nav .navbar-nav a:hover {
    text-decoration: none;
}

.underline-link,
.overgang_nav .navbar-nav a:hover,
.overgang_nav .navbar-nav .current_page_item a {
    border-bottom: #232323 1px solid;
}

.hero-holder {
}

.hero-caption {
    padding-top: 300px;
}

.intro__cover {
    width: 586px;
    height: auto;
}

.intro__cover img,
.about__cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.site-wrapper {
    padding-right: 70px;
}

#secondary {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    background: #fff;
}

#secondary ul li {
    height: 400px;
    margin: 100px 0;
}

.vertical-container {
    position: relative;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    width: 300px;
    margin-left: 49px;
}

#introduction {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.sub_header {
    padding-top: 96px;
}

.excerpt {
    margin-top: 200px;
    padding-bottom: 100px;
}

.sub_header h1 {
    padding-top: 30px;
}

#post_body h1 {
    display: none;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container > blockquote {
    margin: 200px 0;
}

#post_body blockquote p,
#post_body blockquote div {
    font-size: 40px;
    font-family: CircularStd-Bold, sans-serif;
}

#post_body blockquote div:before,
#post_body blockquote p:before {
    content: "\00AB";
}

#post_body blockquote div:after,
#post_body blockquote p:after {
    content: "\00BB";
}

.size-full {
    max-width: 100%;
    height: auto;
}

.about_page .alignright,
#post_body .align-items-center .alignright {
    float: right;
}

#post_body .align-items-center .alignleft {
    float: left;
}

#post_body .align-items-center .wrapper > .alignright {
    float: none;
}

#post_body .align-items-center .wrapper > .alignleft {
    float: none;
}

#post_body .align-items-center .wrapper {
    position: relative;
    height: auto;
}

#post_body .align-items-center .wrapper img {
    object-fit: contain;
    width: 50vw;
    position: absolute;
    height: auto;
}

#post_body .align-items-center .wrapper .alignleft {
    right: 0;
}

#post_body .align-items-center .wrapper .alignright {
    left: 0;
}

.vcard_content {
    padding: 55px;
}

#archives {
    margin: 200px 0;
}

#archives a,
#archives a,
#archives a {
    color: #000;
    font-size: 40px;
    text-decoration: underline;
}

.footer__logo {
    padding: 20px 0
}

.signature {
    margin-bottom: 40px;
}

.copyright {
    line-height: 28px;
    font-size: 12px;
    color: #a2a2a2;
    padding: 16px 0;
}

.root {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    margin-bottom: 100vh;
    background: #fff;
}

.newsletter {
    height: 100vh;
    padding: 150px 0 200px;
    color: #fff;
    z-index: -1;
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.archive_item {
    color: #000;
    display: block;
    padding: 8px 0;
    text-decoration: none;
}

.archive_item:hover,
.archive_item:focus,
.archive_item:visited {
    text-decoration: none !important;
    color: #000;
}

#archives_page .column-right {
    padding-top: 200px;
}

.team__content h2 {
    margin-bottom: 40px;
}

.little-spacing,
.site-content section,
.simple_page h2 + p,
.simple_page p + h3 {
    margin-bottom: 100px;
}

.big-spacing {
    margin-bottom: 200px;
}

@media (min-width: 768px) {
    .h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .little-spacing,
    .site-content section,
    .simple_page h2 + p,
    .simple_page p + h3 {
        margin-bottom: 80px;
    }

    .big-spacing {
        margin-bottom: 160px;
    }

}

@media (max-width: 767px) {
    .h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .little-spacing,
    .site-content section,
    .simple_page h2 + p,
    .simple_page p + h3 {
        margin-bottom: 60px;
    }

    .big-spacing {
        margin-bottom: 120px;
    }

}